<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="logo-container">
        <img height="80" src="../../assets/images/logo.png">
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/dashboard">Map</a>
      <a mat-list-item href="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-menu">
      <div class="top-menu_items">
        <div class="top-menu_item">
          <mat-icon svgIcon="header:car"></mat-icon>
          <div class="top-menu_item_state">
            <div class="top-menu_item_state_title">Vehicles</div> 
            <div class="top-menu_item_state_indicator">{{activeVehicles}}</div>
          </div>
        </div>
        <div class="top-menu_item disabled">
          <mat-icon svgIcon="header:trip"></mat-icon>
          <div class="top-menu_item_state">
            <div class="top-menu_item_state_title">Deliveries</div> 
            <div class="top-menu_item_state_indicator">{{ordersDelivered}}</div>
          </div>
        </div>
        <div class="top-menu_item">
          <mat-icon class="disabled" svgIcon="header:nest"></mat-icon>
          <div class="top-menu_item_state">
            <div class="top-menu_item_state_title">Orders</div> 
            <div class="top-menu_item_state_indicator">{{ordersAwaiting}}</div>
          </div>
        </div>
        <div class="top-menu_item">
          <mat-icon svgIcon="header:general"></mat-icon>
          <div class="top-menu_item_state">
            <div class="top-menu_item_state_title">Settings</div> 
          </div>
        </div>
      </div>
      <div class="top-menu_item">
        <mat-icon svgIcon="header:user"></mat-icon>
        Profile
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
