$buttonBorderRadius: 6px;
$primaryButtonNormalBackground: $c1;
$primaryButtonNormalColor: $c2;
$primaryButtonNormalBorderColor: $c1;
$primaryButtonDisabledBackground: $c1;
$primaryButtonDisabledColor: $c2;
$primaryButtonDisabledBorderColor: $c1;
$primaryButtonHoveredBackground: $c3;
$primaryButtonHoveredColor: $c2;
$primaryButtonHoveredBorderColor: $c3;
$primaryButtonActiveBackground: $c4;
$primaryButtonActiveColor: $c5;
$primaryButtonActiveBorderColor: $c4;
$secondaryButtonNormalBackground: $c2;
$secondaryButtonNormalColor: $c7;
$secondaryButtonNormalBorderColor: $c6;
$secondaryButtonDisabledBackground: $c8;
$secondaryButtonDisabledColor: $c7;
$secondaryButtonDisabledBorderColor: $c8;
$secondaryButtonHoveredBackground: $c6;
$secondaryButtonHoveredColor: $c7;
$secondaryButtonHoveredBorderColor: $c6;
$secondaryButtonActiveBackground: $c9;
$secondaryButtonActiveColor: $c7;
$secondaryButtonActiveBorderColor: $c9;
$dangerButtonNormalBackground: $c2;
$dangerButtonNormalColor: $c10;
$dangerButtonNormalBorderColor: $c6;
$dangerButtonDisabledBackground: $c8;
$dangerButtonDisabledColor: $c10;
$dangerButtonDisabledBorderColor: $c8;
$dangerButtonHoveredBackground: $c6;
$dangerButtonHoveredColor: $c10;
$dangerButtonHoveredBorderColor: $c6;
$dangerButtonActiveBackground: $c11;
$dangerButtonActiveColor: $c2;
$dangerButtonActiveBorderColor: $c11;
$textButtonNormalColor: $c12;
$textButtonHoveredColor: $c7;
$textButtonActiveColor: $c3;
$actionIconHoveredBorderColor: $c1;
$actionIconActiveBackground: $c1;