$c1: #00a6e3;
$c2: #ffffff;
$c3: #0093c9;
$c4:#0081b0;
$c5: rgba($c2, 0.7);
$c6: #f5f5f5;
$c7: #000000;
$c8: transparent;
$c9: #cccccc;
$c10: #e82c0c;
$c11: #d5280b;
$c12: #3d3d3d;
$c13: #d9f2fb;
$c14: #888B8D;
$c15: #999999;
$c16: #1ece03;
$c17: #ff8000;

// TODO: Remove the colors below
$alpha100: 1;
$alpha80: 0.8;
$alpha70: 0.7;
$alpha60: 0.6;
$alpha50: 0.5;
$alpha40: 0.4;
$alpha30: 0.3;
$alpha20: 0.2;
$alpha15: 0.15;
$alpha10: 0.1;
$alpha0: 0;
$white: #ffffff;
$mainRed: #D0021B;
$mainDark: #3d3d3d; // Cool Dark Grey
$darkGrey: #333;
$coolGrey: #888b8d;
$grey71: #b5b5b5;
$lightGrey2: #dddddd;
$lightGrey: #cccccc;
$lightGrey50: #E5ECF1;
$black: #000;
$mainGreen: #18b300;
$yellow: #FFC600;
$yellowPale: #fffcf2; // hover color
$whiteSmoke: #f5f5f5; //Extra Light Grey
$alertRed: #e82c0c;
$mainOrange: #ff8000;
$orange:#FF9820; // Vehicle Marker Orange
$red: #DF3700; // Vehicle Marker Red
$blue:#00A8DF; // Vehicle Marker Blue
$purple: #9635ea; // Vehicle Marker Purple
$navy: #054878;
$green:#318457;
$beige: #FFEDBD;
$silver: #D9D9D9;
$wine: #8E1010;
$asphalt: #494949;
$curfewColor1: #ffeed1;
$curfewColor2: #b8ecc0;
$curfewColor3: #ffd1d1;
$curfewColor4: #d1deff;
$curfewColor5: #cfa6f3;
$curfewColor6: #fb767a;
$backgroundTooltip: #4a4a4a;
