$dialogBackdropBackground: $c1;
$overlayContentWidth: 357px;
$checkboxNormalCheckmarkStroke: $c2;
$checkboxCheckedActiveCheckmarkStroke: $c2;
$checkboxCheckedActiveBackground: $c1;
$checkboxHoverOpacity: 0.8;
$checkboxDisabledOpacity: 0.2;
$switcherKnokBackgroundColor: $c1;
$switcherTrackBackgroundColor: rgba($c1, 0.15);
$switcherDisabledOpacity: 0.3;
$inputUnderlineNormalBackgroundColor: $c1;
$inputUnderlineFocusedBackgroundColor: $c12;
$inputLoaderBackgroundColor: $c1;
$selectOptionHoverBackground: $c13;
$selectOptionSelectedNormalBackground: $c2;
$selectOptionSelectedHoverBackground: $c13;
$calendarActiveDateBackground: $c1;
$calendarActiveDateColor: $c2;
$calendarHoverDateBorderColor: $c1;
$calendarHoverArrowBackground: $c1;
$calendarHoverArrowFill: $c2;
$calendarNormalArrowFill: $c14;
$switcherBorderColor: $c1;
$notificationListSeparatorBorderColor: $c9;
$listSelectedBackground: $c1;
$listHoverBackground: $c13;
$spinnerBorderColor: $c1;
$listSelectedItemTitleColor: $c2;
$listSelectedItemDetailsColor: $c2;
$listTripsSelectedItemDetailsColor: $c5;
$listIconStroke: $c7;
$listSelectedIconStroke: $c2;
$paginationActiveDotsBackground: $c1;
$emptyVehicleBackground: $c1;
$matSliderBackground: $c1;
$matFormFieldPlaceholderColor: $c15;
$matFormFieldLabelColor: $c15;
$matIconLinkIconFill: $c15;
$matFormFieldFocesedHintColor: $c15;
$multipickerItemDisableColor: $c15;
$scrollBarHandleBackground: rgba($c7, $alpha50);
$inputPlaceholderColor: $c15;
$mainFont: 'Regular';
$inputBorder: $c1;
$radioButtonBackgroundColor: $c1;
$radioButtonBorderColor: $c1;
$weekPickerActiveBackgroundColor: $c1;
$weekPickerSelectorBorderColor: $c1;
$dialogBoxShadow: rgba($c7, 0.4);
$dialogInfoBackgroundColor: rgba($c7, 0.05);
$dialogTitleTextAlign: center;
$dialogTitleFontFamily: Medium;
$dialogTitleFontSize: 18px;
$dialogTitleColor: $c12;
$dialogBackgroundColor: $c2;
$multiselectBorderColor: $c9;
$multiselectSelectedItemBackground: $c6;
$multiselectBackground: $c2;
$multiselectNoItemsPlaceholderColor: $c15;
$drivingScoreSelectedWeekColor: $c1;
$calendarBackground: $c2;
$calendarTextDate: $c12;
$calendarHeight: 90px;
$calendarFontSize: 20px;
$calendarFontFamily: 'Medium';
$popupBorderRadius: 4px;
$deleteContainerBackgroundColor: $c6;
$iconDeleteBackgroundColor: $c1;