$healthDiagramBackgroundGood: $c16;
$healthDiagramBackgroundLow: $c17;
$healthDiagramBackgroundHigh: $c17;
$healthDiagramBackgroundCritical: $c10;
$healthDiagramBackgroundCheck: $c17;
$shedulerCheckedBackground: $c1;
$shedulerCheckedColor: $c2;
$headerDiagramBackground: $c1;
$unreadNotificationBorderColor: $c1;
$vehicleSliderAddIconStroke: $c15;
$vehicleSliderAddIconEmptyStroke: $c2;
$roadAssistanceHelpItemColor: $c15;
$helpAndFeedbackHelpColumnColor: $c15;
$mapScrollbarThumb: $c15;
$sidebarLinkSubtitleColor: $c15;
$mapButtonToggledBackground: $c1;
$selectedAlertFontWeight: normal;
$vehicleCurfewsBoundariesListWidth: 320px;
$boundaryRadiusFontFamily: Medium;
$boundaryDrawingControlsButtonActiveColor: $c2;
$boundarySearchBackgroundColor: $c2;